.iconFooter{
    width:60px;
    height: 60px;
    border-radius: 50px;
}
.termsclass{
    display: flex;
      align-items: center;
   justify-content: space-around;
      font-family: cursive;
      font-size: 12px;
     padding: 30px;
    
}
.contactDetails{
     font-size: 15px;
}
.wrapUp{
     display: flex;
      align-items: center;
   justify-content: space-between;
      font-family: cursive;
}
