.ViewDetailOfPlaneWrap{
        background-color: rgb(160, 193 ,192);
    align-items: center;
    display: flex;
    flex-direction: column;
    color:black;
    justify-content: center;
    font-family: cursive;
}
.cardWrap{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    border-radius: 10px;
    padding: 20px 20px;

   
}
.ticketHead{
    color: grey;
}
.unitSpan{
    margin: 10px 0px;
}
.cardFirstLine{
   display: grid;
   grid-template-columns: 350px 350px 350px;
   justify-content: space-between;
  
   
}