.iconImage{
    width:60px;
    height: 60px;
    border-radius: 50px;
      position: sticky;
}
.headWrap{
    display: grid;
      align-items: center;
    grid-template-columns: 60px auto;
      font-family: cursive;
       cursor: pointer;
    
}
