.iconStyle{
      width: 28px;
    height: 28px;
    
}
.colorOfSeat{
    background-color: white;
    border-radius:10px;
}
.bookSeatOfPlaneWrap{
    background-color: rgb(160, 193 ,192);
    align-items: center;
    display: flex;
    flex-direction: column;
    color:black;
    justify-content: center;
    font-family: cursive;
}
.availClick{
    cursor: pointer;
}
.headUnit{
    margin: 10px 10px;
    margin: 10px 10px;
    align-items: center;
    align-self: center;
    justify-content: center;
    display: flex;
}
.allignSeat{
    display: grid;
    grid-template-rows: 50px 100px 100px;
    grid-template-columns: 200px 200px 200px 200px;
    justify-content: center;
    align-self: center;
}
.headSpan{
    display: flex;
   align-items: center;
   justify-content: center;
   margin: 50px 50px;
}
.itemOfCity{
     display: flex;
     justify-content: center;
     justify-content: space-evenly;
     align-items: center;
     margin: 10px;
}
.buttonGroup{
    display: flex;
}