.App{
    background-color: #282c34;
    position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0px 100px;
   position: sticky; 
    z-index: 100;
  
}
.App-Content , .App-footer {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0px 100px;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
