.bookedOfPlaneWrap{
    background-color: rgb(160, 193 ,192);
    align-items: center;
    display: flex;
    flex-direction: column;
    color:black;
    justify-content: center;
    font-family: cursive;
    
    
}
.successWrap{
    background-color:white;
    padding:50px 50px;
    margin:50px 50px;
    border-radius:10px 10px;
      align-items: center;
       display: flex;
    flex-direction: column;
       justify-content: center;
}
.successMessage{
    color:green
}
