.paymentOfPlaneWrap{
    background-color: rgb(160, 193 ,192);
    align-items: center;
    display: flex;
    flex-direction: column;
    color:black;
    justify-content: center;
    font-family: cursive;
  
}
.whiteBackground{
 display: flex;
    flex-direction: column;
    background-color: white;
    margin: 10px 10px;
    padding: 10px 30px;
    border-radius: 10px;
}
.buttonGroup{
    display: flex;
}
.passhead{
    text-align: center;
}
.inputText{
        width: 225px;
    border: 1px solid #d2d2d2;
    height: 40px;
    background-color: #fff;
       color: grey;
    font-family: cursive;
    margin: 20px 20px;
border-radius: 10px;
}
.radioText{
      margin: 20px 20px; 
}
.ticketHead{
    color: grey;
    width: 250px !important;
}
  .headStyle{
    display: flex;
     align-items: center;
    // justify-content: center;
   
}