.cardWrap{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    border-radius: 10px;
    padding: 20px 20px;

   
}
.ticketHead{
    color: grey;
}
.unitSpan{
    margin: 10px 0px;
}
.cardFirstLine{
   display: grid;
   grid-template-columns: 300px 300px 300px;
   justify-content: space-between;
  
   
}