

.DetailOfPlaneWrap{
       background-color: #a0c1c0;
     
    align-items: flex-start;
    font-family: cursive;
    font-size: 18px;
    color: black;
    display: flex;
    padding: 10px 10px ;
    justify-content: center;
    flex-direction: column;
    background-repeat: repeat;
 
}
.countOfPlane{
    align-self: center;
}
.buttonGroup{
    display: flex;
}
.passhead{
    text-align: center;
}
.itemOfCity{
     display: flex;
     justify-content: center;
     justify-content: space-evenly;
     align-items: center;
     margin: 10px;
}
.itemInCity{
     margin: 5px;
}
.cardInDetail{
     width: 100%;
}