.homeWrap{

 display: grid;
 justify-content: center;
background-color: rgb(160, 193 ,192);
 align-items: center;
}
.backGroundImage{
 background-image: url('../../assets/images/FamilyinAirportHero.jpg');
    height: 100vh;
     background-position: 30% 0%;
 background-repeat: no-repeat;
 opacity: 0.9;
}
.inputText{
        width: 225px;
    border: 1px solid #d2d2d2;
    height: 40px;
    background-color: #fff;
       color: grey;
    font-family: cursive;
    margin: 20px 20px;
border-radius: 10px;
}
.iconSize{
    width: 28px;
    height: 28px;
}
.errMessage{
    color: red;
    font-family: cursive;
    font-size: 18px;
}
.headEnd{
    font-family: cursive;
    display: flex;
    grid-column: 1/4;
    justify-content: center;
    align-items: center;
    color: black;
}

.wrapOfFields{
   
        display: grid;
    width: fit-content;
    grid-template-columns: 300px 300px 300px ;
  padding: 10px;

}
.spanOfFields{
    text-align: center;
}
