.buttonClass{

    border: 0;
    color: white;
    background-color: black;
    padding: 10px;
    font-size: large;
    border-radius: 10px;
    font-family: cursive;
    margin: 10px;
    cursor:pointer;
}